<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CardHubAPI</title>
    <link rel="stylesheet" href="scss/main.css">
    <meta http-equiv="refresh" content="2">
</head>
<body>
    
    <main class="main">
        <h1 class="titulo">Olá, seja bem vindo a CardHubApi</h1>

        <article class="artigo">
            <section>
                <h2 class="subtitulo">O que é ?</h2>
                <p class="paragrafo">
                    Refatorando um código antigo que era basicamente cards com HTML e CSS com informações sobre aplicações web como facebook, instagram, github e etc... Pensei porque não montar uma api que permita a usuarios inserir novos dados para assim automaticamente seja gerado no projeto NewCards um novo card informativo ? E assim comecei a montar está api
                </p>
            </section>

            <ul class="lista">
                <h3 class="h3">Dados na api</h3>
                <li class="lista__item">Nome do serviço</li>
                <li class="lista__item">Uma breve descrição</li>
                <li class="lista__item">Texto alternativo para imagens</li>
                <li class="lista__item">Imagem da logo ( não implentado )</li>
                <li class="lista__item">URL do serviço</li>
            </ul>
        </article>

        <article>
            <h1>Tem alguma aplicação em mente ? Cadastrea !</h1>
            <a href="/formulario">Cadastrar</a>
        </article>

    
    </main>
</body>
</html>